@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all";


* {
  font-family: 'Roboto', sans-serif;
}


.turbo-progress-bar {
  height: 5px;
  background-color: green;
}